



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
	background-color: black;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}
.carousel-inner{
     height: 70%;
}

.carousel-item{
    height: 100% !important;
    width:  100% !important;

}


.blog-line{

	left: 40px;
}
.container-fluid {
	align-content: space-evenly;
	display: flex;
	align-items: center;
	justify-content: center;

}
.col {
	column-count: 2;
	width: 100%;
	column-gap: 200px;

		
}

.icon-link,.fa-envelope {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;


}
.icons{
	margin-top: 10px;
	width: 300px;
}
#con{
	margin-bottom: 50px;
	margin-top: 50px;
}

.abt-cen {
	text-align: center;
}


@media (max-width: 992px) {
	.alert-validate::before {
	  visibility: visible;
	  opacity: 1;
	}
  }

  @media (max-width: 576px) {
	.wrap-login100 {
	  padding-left: 15px;
	  padding-right: 15px;
	}
  }

  @media (max-width: 992px) {
	.wrap-login100 {
	  padding: 177px 90px 33px 85px;
	}
}
	@media (max-width: 768px) {
		.wrap-login100 {
		  padding: 100px 80px 33px 80px;
		}
	  
		.login100-pic {
		  display: none;
		}
	  
		.login100-form {
		  width: 100%;
		}
	  }

	  @media (max-width: 576px) {
		.wrap-login100 {
		  padding: 100px 15px 33px 15px;
		}
	  }

	  @media (max-width: 992px) {
		.alert-validate::before {
		  visibility: visible;
		  opacity: 1;
		}
	  }